<div class="container">
    <div class="section">
        <div>LIVES:</div>
        <div class="img-container" *ngFor="let life of lives; let i = index">
            <img [src]="i < status.lives ? '/assets/red-heart.png' : '/assets/black-heart.png'">
        </div>
    </div>

    <div class="section mid">
        QUESTIONS: {{status.curQuestionNumber + 1}}/{{status.totalCount}}
    </div>
    <div class="section">
        <div>POINTS:</div>
        <div class="score">{{status.correctCount * 100}}</div>
    </div>
</div>
